@font-face {
    font-family: myFirstFont;
    src: url("Norse-Bold.otf");
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFirstFont;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: 100vh;
}

.main {
    display: flex;
    padding: auto;
}

.header {
    padding: 1rem 3rem;
    
}

.header * {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header span {
    font-style: italic;
}

.side-bar {
    background-image: url("masahiro-miyagi-sCV96SDYUJk-unsplash.jpg");
    width: 40vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.odin {
    margin-top: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    color: white;
    letter-spacing: 3rem;
    font-size: 5rem;
    padding: 2% 0%;
    flex-wrap: wrap;
}

h3 {
    width: max(50%, 100px);
}

img {
    width: 100px;
}

.source {
    text-align: center;
    color: white;
    margin: 4%;
    font-size: larger;
}

.source a {
    color: darkgoldenrod;
}

.source a:hover {
    color: white;
    text-shadow:
    -1px -1px 0 darkgoldenrod,
    1px -1px 0 darkgoldenrod,
    -1px 1px 0 darkgoldenrod,
    1px 1px 0 darkgoldenrod 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60vw;
}

.forms {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    width: auto;
    background-color: rgba(128, 128, 128, 0.3);
    box-shadow: 0px 2px 3px gainsboro;
    padding-bottom: 1rem;
    font-size: larger;
}

h2 {
    margin: 1rem 0rem;
    font-style: italic;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.input {
    width: max(40%, 300px);
    margin: 1rem 0rem;
}

.input p:first-child {
    margin-bottom: 0.5rem;
}

.input input:required {
    width: 100%;
    height: 2rem;
    background-color: rgba(128, 128, 128, 0);
    border: 2px solid lightcoral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:required:focus {
    border: 5px solid aqua;
    scale: 1.01;
}

input:required:valid {
    background-color: lightgreen;
    border: 2px solid green;
}

input~p {
    font-size: small;
    color: red;
}

.create_acc {
    padding-left: 3rem;
    padding-top: 1rem;
}

button {
    padding: 0.5rem;
    background-color: white;
    border: 2px solid red;
    color: red;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: red;
    border: 2px solid red;
    color: white
}

.login {
    padding-left: 3rem;
    margin: 2rem 0;
}

.login a {
    color: red;
}

.login a:hover {
    color: white;
    text-shadow:
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red;  
}

.site-footer
{
  /* padding:45px 0 20px; */
  font-size:15px;
  line-height:24px;
  width: 100%;
  margin: 0;
}
.site-footer hr
{
  border-top-color:#461111;
  opacity:0.5;
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer a
{
  color:black;
  font-weight: bold;
}
.site-footer a:hover
{
  text-decoration:underline;
  color: darkgoldenrod;
}
.site-footer .social-icons
{
  text-align:center
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color: darkgoldenrod;
}
.copyright-text
{
  margin:0;
  text-align: center;
  padding: 1rem 0;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.github:hover
{
  background: #000;
}
.social-icons a.medium:hover
{
  background-color:#000;
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

  






